@import "tailwindcss";
@import "@heroui/styles";
@import "../styles/themes.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.gradient-container {
  background-image: none;
}

@media (min-width: 728px) {
  .gradient-container {
    background-image: radial-gradient(
      200px circle at var(--mouse-x) var(--mouse-y),
      var(--color-accent) 0,
      transparent 100%
    );
  }
}
