/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://v3.heroui.com/docs/react/getting-started/theming
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(62.04% 0.195 169.52);
  --accent-foreground: oklch(99.11% 0 0);
  --background: #f7f7f8;
  --border: oklch(90% 0.0015 169.52);
  --danger: oklch(65.32% 0.2335 15.62);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.0015 169.52);
  --default-foreground: oklch(21.03% 0.0059 169.52);
  --field-background: oklch(100% 0.0008 169.52);
  --field-foreground: oklch(21.03% 0.0059 169.52);
  --field-placeholder: oklch(55.17% 0.003 169.52);
  --focus: oklch(62.04% 0.195 169.52);
  --foreground: #5e5f6e;
  --base-content: #0f172a;
  --muted: #0f172a;
  --overlay: oklch(100% 0.0004 169.52);
  --overlay-foreground: oklch(21.03% 0.0059 169.52);
  --scrollbar: oklch(87.1% 0.0015 169.52);
  --segment: oklch(100% 0.0015 169.52);
  --segment-foreground: oklch(21.03% 0.0059 169.52);
  --separator: oklch(92% 0.0015 169.52);
  --success: oklch(73.29% 0.1941 140.69);
  --success-foreground: oklch(21.03% 0.0059 140.69);
  --surface: oklch(100% 0.0008 169.52);
  --surface-foreground: oklch(21.03% 0.0059 169.52);
  --warning: oklch(78.19% 0.159 62.21);
  --warning-foreground: oklch(21.03% 0.0059 62.21);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(62.04% 0.195 169.52);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12% 0.0015 169.52);
  --border: oklch(28% 0.0015 169.52);
  --danger: oklch(59.4% 0.1973 14.51);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.0015 169.52);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.003 169.52);
  --field-foreground: oklch(99.11% 0 0);
  --field-placeholder: oklch(70.5% 0.003 169.52);
  --focus: oklch(62.04% 0.195 169.52);
  --foreground: oklch(99.11% 0 0);
  --muted: oklch(70.5% 0.003 169.52);
  --overlay: oklch(21.03% 0.003 169.52);
  --overlay-foreground: oklch(99.11% 0 0);
  --scrollbar: oklch(70.5% 0.0015 169.52);
  --segment: oklch(39.64% 0.0015 169.52);
  --segment-foreground: oklch(99.11% 0 0);
  --separator: oklch(25% 0.0015 169.52);
  --success: oklch(73.29% 0.1941 140.69);
  --success-foreground: oklch(21.03% 0.0059 140.69);
  --surface: oklch(21.03% 0.003 169.52);
  --surface-foreground: oklch(99.11% 0 0);
  --warning: oklch(82.03% 0.1392 66.22);
  --warning-foreground: oklch(21.03% 0.0059 66.22);
}
